<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <script src="js/vendor/jquery-2.1.3.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/socket.js"></script>

    <script src="js/chat/iris.chat.module.js"></script>
    <script src="js/chat/components/local_user/iris.local-user.js"></script>
    <script src="js/chat/components/local_user/iris.local-user-manager.js"></script>
    <script src="js/chat/components/remote_user/iris.remote-user.js"></script>
    <script src="js/chat/components/remote_user/iris.remote-user-manager.js"></script>
    <script src="js/chat/components/socket/iris.socket.js"></script>
    <script src="js/chat/components/channel/iris.channel.js"></script>
    <script src="js/chat/components/channel/iris.channel-manager.js"></script>
    <script src="js/chat/components/settings/iris.admin-settings-ctrl.js"></script>
    <script src="js/chat/components/settings/iris.channel-settings-ctrl.js"></script>
    <script src="js/chat/components/settings/iris.user-settings-ctrl.js"></script>
    <script src="js/chat/components/settings/iris.new-channel-modal-ctrl.js"></script>
    <script src="js/chat/components/notifications/iris.notification-manager.js"></script>
    <title>IRIS - chat</title>

    <style>

        /*General*/
        html,body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .full-height{
            height: 100%;
        }

        .red{
            color:#d9534f;
        }
        /*End General*/


        /*Sidebar*/
        .sidebar{
            background-color: #222;
            border-right: medium solid #111;
            color: white;
        }

        .sidebar .header{
            border-bottom: medium solid #111;
        }

            /*Channel List*/
            .channel-list-header{
                padding-left:15px;
                color:#666;
            }

            .channel-label{
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-top-right-radius: 4px !important;
                border-bottom-right-radius: 4px !important;
                cursor: pointer;
                background-color: #222;
            }

            .channel-label:hover{
                background-color: #111;
            }

            .active-channel{
                background-color: #111;
            }

            .inactive-channel{
                color: black;
            }
            /*End Channel List*/

            /*User Info Pane*/
            .user-info-row{
                position: absolute;
                bottom: 0;
                width: 100%;
                border-top: medium solid #111;
            }
            /*End User Info Page*/
        /*End Sidebar*/

        /*Bootstrap Override*/
        .list-group-item{
            border:none;
        }

        .list-group{
            box-shadow: none;
            -webkit-box-shadow: none;
        }
        /*End Bootstrap Override*/

        @font-face {
            font-family: Lobster;
            src: url("fonts/Lobster 1.4.otf") format("opentype");
        }
    </style>
</head>
<body ng-app="iris">
    <div class="container-fluid full-height" ng-controller="MainCtrl">
        <div class="row full-height">
            <!-- sidebar -->
            <div class="col-md-2 col-xs-3 sidebar full-height">
                <!-- sidebar header -->
                <div class="row header">
                    <h1 style="font-family:lobster; padding-left:20px;">iris</h1>
                </div>
                <!-- channel list -->
                <div class="row">
                    <div class="col-xs-12" style="padding-left:0px;">
                        <h4 class="channel-list-header">Channels</h4>
                        <ul class="list-group channel-list">
                            <!-- Dynamic channel list -->
                            <li ng-repeat="(name, channel) in channels" class="list-group-item channel-label {{channel.getHtmlClass()}}" ng-click="changeActiveChannel(name)">
                                <channellistitem chan="channel"></channellistitem>
                            </li>
                            <!-- Create Channel link (admin only) -->
                            <li class="list-group-item channel-label" data-toggle="modal" data-target="#newChannelModal" ng-show="user.settings.is_admin">Create channel...</li>
                        </ul>
                        <h4 class="channel-list-header">Users</h4>
                        <ul class="list-group channel-list">
                            <li ng-repeat="u in active_users" class="list-group-item channel-label" ng-click="">
                                <span ng-show="u.status == 'online'"><span class="glyphicon glyphicon-check" style="color: #5cb85c;"></span> {{u.username}}</span>
                                <span ng-show="u.status == 'away'"><span class="glyphicon glyphicon-time" style="color: #f0ad4e;"></span> {{u.username}}</span>
                                <span ng-show="u.status == 'lunch'"><span class="glyphicon glyphicon-cutlery" style="color: #f0ad4e;"></span> {{u.username}}</span>
                                <span ng-show="u.status == 'remote'"><span class="glyphicon glyphicon-globe" style="color: #5cb85c;"></span> {{u.username}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- User info -->
                <div class="row user-info-row">
                    <div class="col-xs-12">
                        <div class="media" style="padding:10px;">
                            <a class="media-left" href="#">
                                <img src="http://placehold.it/44x44" />
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{LocalUser.user.username}}<small ng-show="LocalUser.user.settings.is_admin" style="color:#666;"> (admin)</small></h4>
                                <div class="dropdown dropup ">
                                    <button ng-show="LocalUser.user.status == 'online'" class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"><span class="glyphicon glyphicon-check"></span> online</button>
                                    <button ng-show="LocalUser.user.status == 'away'" class="btn btn-warning btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"><span class="glyphicon glyphicon-time"></span> away</button>
                                    <button ng-show="LocalUser.user.status == 'lunch'" class="btn btn-warning btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"><span class="glyphicon glyphicon-cutlery"></span> lunch</button>
                                    <button ng-show="LocalUser.user.status == 'remote'" class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> remote</button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="" ng-click="changeStatus('away')" ng-hide="LocalUser.user.status == 'away'"><span class="glyphicon glyphicon-time"></span> away</a></li>
                                        <li><a href="" ng-click="changeStatus('remote')" ng-hide="LocalUser.user.status == 'remote'"><span class="glyphicon glyphicon-globe"></span> remote</a></li>
                                        <li><a href="" ng-click="changeStatus('lunch')" ng-hide="LocalUser.user.status == 'lunch'"><span class="glyphicon glyphicon-cutlery"></span> lunch</a></li>
                                        <li><a href="" ng-click="changeStatus('online')" ng-hide="LocalUser.user.status == 'online'"><span class="glyphicon glyphicon-check"></span> online</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main pane -->
            <div class="col-md-10 col-xs-9 full-height">
                <!-- chat header -->
                <div class="row" style="margin-bottom:20px;">
                    <!-- active channel title and dropdown button -->
                    <div class="col-xs-6">
                        <h2>
                            <div class="dropdown">
                                <span style="font-family: monospace;"><span style="color:#ccc;">#</span>{{getActiveChannel().name}} </span>
                                <span style="cursor:pointer; font-size:18px; color:#ccc;" class="glyphicon glyphicon-chevron-down" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" ng-click="leaveActiveChannel()">Leave Channel</a>
                                    </li>
                                    <li ng-show="LocalUser.user.settings.is_admin">
                                        <a ng-click="channelSettingsModalActive()" data-toggle="modal" data-target="#channelSettingsModal" href="#">Channel Settings</a>
                                    </li>
                                </ul>
                            </div>
                        </h2>
                    </div>
                    <!-- search bar -->
                    <div class="col-xs-4">
                        <div class="input-group" style="margin-top:20px;">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                            <input ng-model="search_text" type="text" class="form-control" id="" placeholder="Press enter to search..." ng-keypress="searchMessages($event)" />
                        </div>
                        <div class="dropdown">
                            <button data-toggle="dropdown" id="search-dropdown-toggle" style="display:none;"></button>
                            <ul class="dropdown-menu" style="width:100%;">
                                <li ng-repeat="result in search_results" style="padding:10px;">
                                    <strong>{{result.username}}</strong> <small style="color:#ccc;">{{result.timestamp|timestampFormat}}</small>
                                    <br />{{result.text}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- menu button(s) -->
                    <div class="col-xs-2" style="margin-top:20px;">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#userSettingsModal" ng-click="userSettingsModalActive()">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <button ng-show="LocalUser.user.settings.is_admin" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#adminSettingsModal" ng-click="adminSettingsModalActive()">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    </div>
                </div>
                <!-- main messages panel -->
                <div class="row">
                    <div class="col-xs-12" style="overflow-y: scroll;" id="message-pane">
                        <button type="button" class="btn btn-default btn-block" ng-click="loadPreviousMessages()">Load Previous Messages</button>
                        <div class="media" ng-repeat="message in getActiveChannelMessages() | orderBy: 'timestamp'">
                            <a class="media-left" href="#">
                                <img src="{{user.image_path}}" alt="">
                            </a>
                            <div class="media-body" style="width:100%;">
                                <h4 class="media-heading">{{message.username}} <small style="color:#ccc;">{{message.timestamp|timestampFormat}}</small></h4>
                                {{message.text}}
                                <!-- plain links -->
                                <div ng-repeat="att in message.attachments" style="width:100%; padding:5px; background-color:#eee;" class="well">
                                    <p style="margin-bottom: 0px;" ng-show="att.type == 'plain_link'"><a target="_blank" href="{{att.link}}">{{att.link}}</a></p>
                                    <p style="margin-bottom: 0px;" ng-show="att.type == 'image_link'"><a target="_blank" href="{{att.link}}"><img style="width:300px; height: auto;" src="{{att.link}}" /></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- message input box -->
                <div class="row" style="position: absolute; bottom: 0; width: 100%; background-color: #999">
                    <div class="col-xs-12">
                        <input type="text" placeholder="Type a message..." class="form-control" style="margin:12px 0 12px 0; padding:20px;" ng-model="message_input" ng-keypress="sendMessage($event)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        Channel Settings modal
        - admin only
        - for each channel:
            - modify parsers
            - delete channel
     -->
    <div ng-controller="ChannelSettingsCtrl" class="modal fade" id="channelSettingsModal">
        <div class="modal-dialog">
            <div class="modal-content" ng-show="user.settings.is_admin">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span style="font-family:monospace;"><span style="color:#ccc;">#</span>{{channel_name}}</span><small> - Channel Settings (admin)</small></h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label>Active Parsers</label>
                        <input type="text" ng-model="active_parsers" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="delete()" class="btn btn-danger pull-left" data-dismiss="modal">Delete Channel</button>
                    <button type="button" ng-click="reset()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!--
        Admin modal
        - admin only
        - user management
            - create new users
            - delete users
    -->
    <div ng-controller="AdminSettingsCtrl" class="modal fade" id="adminSettingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Admin Settings</h3>
                </div>
                <div class="modal-body">
                    <h4>Manage Users</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Username</th>
                                <th>Is Admin?</th>
                            </tr>
                            <tr ng-repeat="user in users">
                                <td>{{user.username}}</td>
                                <td>{{user.settings.is_admin}}</td>
                            </tr>
                        </table>
                    <br />

                    <h4>Create a user</h4>
                    <div class="control-group">
                        <label>Username</label>
                        <input type="text" ng-model="new_user_username" class="form-control" />
                    </div>
                    <div class="control-group">
                        <label>Password</label>
                        <input type="text" ng-model="new_user_password" class="form-control" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="new_user_is_admin"> <strong>Is Admin?</strong>
                        </label>
                    </div>
                    <br />
                    <button type="button" class="btn btn-success" ng-click="addUser()">Add User</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="revert()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--
        User Settings modal
        - user-level settings:
            - notify keywords
            - nofity mentions
            - channel-specific notifications (on/off)
            - password/profile icon
    -->
    <div ng-controller="UserSettingsCtrl" class="modal fade" id="userSettingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">User Settings</h3>
                </div>
                <div class="modal-body">
                    <h4>Global Notification Settings</h4>
                        <div class="control-group">
                            <label>Show notifications for messages that contain these words (comma separated)</label>
                            <textarea class="form-control" ng-model="keywords"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="mentions"> <strong>Display notifications for mentions (messages with my username)</strong>
                            </label>
                        </div>
                    <hr />

                    <h4>Channel Notification Settings</h4>
                    <p>Show notifications for all messages in:</p>
                    <div class="checkbox" ng-repeat="channel in channels">
                        <label>
                            <input type="checkbox" ng-model="channel.show_notifications" /><strong>#{{channel.name}}</strong>
                        </label>
                    </div>

                    <hr />

                    <!-- <h4>Change Your Password</h4>
                    <div class="control-group">
                        <label>Old Password</label>
                        <input type="text" ng-model="old_password" class="form-control" />
                    </div>
                    <div class="control-group">
                        <label>New Password</label>
                        <input type="password" ng-model="new_password_1" class="form-control" />
                    </div>
                    <div class="control-group">
                        <label>New Password (again)</label>
                        <input type="password" ng-model="new_password_2" class="form-control" />
                    </div>
                    <hr /> -->

                    <h4>Change Your Profile Image</h4>
                    Your current profile image (44x44):
                    <img src="{{image}}" width="44px" height="44px" />
                    <div class="control-group">
                        <label>Image URL</label>
                        <input class="form-control" type="text" ng-model="image" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="revert()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- "Create a Channel" modal -->
    <div ng-controller="NewChannelModalCtrl" class="modal fade" id="newChannelModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Create a new Channel</h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label>Channel Name</label>
                        <input type="text" ng-model="name" class="form-control" />
                    </div>
                    <div class="control-group">
                        <label>Active Parsers (comma separated)</label>
                        <input type="text" ng-model="parsers" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="create()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(window).on('resize', resizeChatWindow);

        function resizeChatWindow(){
            $('#message-pane').css('height', window.innerHeight - 165);
        }

        resizeChatWindow();
    </script>
</body>
</html>