<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/login/iris.login.module.js"></script>
    <style>
    /*bootstrap signin example*/
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #222;
        }

        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
          margin-bottom: 10px;
        }
        .form-signin .checkbox {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="text"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        @font-face {
            font-family: Lobster;
            src: url("fonts/Lobster 1.4.otf") format("opentype");
        }
    </style>
</head>
<body ng-app="app" ng-controller="MainCtrl">
    <div class="container">
        <form class="form-signin">
            <h1 style="text-align:center; color:white; font-family:lobster;">iris</h1>
            <input type="text" id="inputEmail" ng-model="username" class="form-control" placeholder="User Name" required="required" autofocus="">
            <input type="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
            <button ng-click="submit()" class="btn btn-lg btn-danger btn-block" type="submit">Sign in</button>
      </form>
    </div>

</body>
</html>