<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="css/bootstrap-theme.min.css" rel="stylesheet" /> -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/socket.js"></script>
    <script src="js/chat/iris.module.js"></script>
    <title>I&Gamma;IS - chat</title>
    <style>
        .channel-label{
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
            cursor: pointer;
            background-color: #222;
        }

        .channel-label:hover{
            background-color: #111;
        }

        .active-channel{
            background-color: #111;
        }

        .not-in-channel{
            color: black;
        }

        .sidebar{
            background-color: #222;
            border-right: medium solid #111;
            color: white;
        }

        html,body { height: 100%; margin: 0px; padding: 0px; }

        .list-group-item{
            border:none;

        }
        .list-group{
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    </style>
</head>
<body ng-app="app" ng-controller="MainCtrl">
    <div class="container-fluid" style="height:100%">
        <div class="row" style="height: 100%;">
            <!-- sidebar -->
            <div class="col-md-2 col-xs-3 sidebar" style="height:100%;">
                <div class="row" style="background-color:#; border-bottom:medium solid #111;">
                    <div class="col-xs-12">
                        <h3 style=""><span style="color:#d9534f;">&lopar;</span>I&Gamma;IS<span style="color:indianred;">&ropar;</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="padding-left:0px;">
                        <h4 style="padding-left:15px; color:#666;">Channels</h4>
                        <ul class="list-group channel-list">
                            <li ng-repeat="channel in channels" class="channel-label list-group-item" ng-class="getChannelClass(channel)" ng-click="switchActiveChannel(channel.name)">
                                # <strong>{{channel.name}}</strong>
                                <span class="pull-right label label-danger" ng-hide="channel.unread == 0">{{channel.unread}}</span>
                            </li>
                            <li class="channel-label list-group-item" ng-click="addChannel()" ng-show="user.settings.is_admin" style="color:#666;">Create channel...</li>
                        </ul>
                        <h4 style="padding-left:15px; color:#666;">Active Users</h4>
                        <ul class="list-group channel-list">
                            <li class="channel-label list-group-item" ng-repeat="user in active_users"><a>{{user}}</a></li>
                        </ul>
                        <!-- <h4 style="padding-left:15px; color:#666;">Private Groups</h4> -->
                    </div>
                </div>
                <div class="row" style="background-color:#; position:absolute; bottom:0; width:100%; border-top:medium solid #111;">
                    <div class="col-xs-12">
                        <div class="media" style="padding:10px;">
                            <a class="media-left" href="#">
                                <img src="http://placehold.it/44x44" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{user.username}}<small ng-show="user.settings.is_admin" style="color:#666;"> (admin)</small></h4>
                                 <span class="glyphicon glyphicon-off" style="color:green;" aria-hidden="true"></span> <strong>online</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main pane -->
            <div class="col-md-10 col-xs-9" style="height:100%;">
                <!-- chat header -->
                <div class="row" style="margin-bottom:20px;">
                    <div class="col-xs-6">
                        <h2 style="font-family: monospace;"><span style="color:#ccc;">#</span>{{getActiveChannel().name}} <span style="cursor:pointer; font-size:18px; color:#ccc;" class="glyphicon glyphicon-chevron-down" ng-click="showChannelSettings(getActiveChannel().name)" data-toggle="modal" data-target="#channelSettingsModal"></span> <!-- <span class="glyphicon glyphicon-log-out" style="cursor:pointer; font-size:18px; color:#ccc;" ng-click="leaveChannel(getActiveChannel().name)"></span> --> <small style="color:#ccc; font-size:16px;">    {{getActiveChannel().description}}</small></h2>
                    </div>
                    <!-- Search bar -->
                    <div class="col-xs-4">
                        <div class="input-group" style="margin-top:20px;">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Search...doesn't work yet.">
                        </div>
                    </div>
                    <!-- Settings menu buttons -->
                    <div class="col-xs-2" style="margin-top:20px;">
                        <div>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#settingsModal">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#adminModal" ng-show="user.settings.is_admin">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- main messages panel -->
                <div class="row">
                    <div class="col-xs-12" style="overflow-y: scroll;" id="message-pane">
                        <button type="button" class="btn btn-default btn-block" ng-click="loadPreviousMessages()">Load previous messages</button>
                        <div class="media" ng-repeat="message in getActiveChannelMessages() | orderBy: 'timestamp'">
                            <a class="media-left" href="#">
                                <img src="http://placehold.it/44x44" alt="">
                            </a>
                            <div class="media-body" style="width:100%;">
                                <h4 class="media-heading">{{message.username}} <small style="color:#ccc;">{{message.timestamp|timestampFormat}}</small></h4>
                                {{message.text}}
                                <!-- plain links -->
                                <div ng-repeat="att in message.attachments" style="width:100%; padding:5px; background-color:#eee;" class="well">
                                    <p style="margin-bottom: 0px;" ng-show="att.type == 'plain_link'"><a target="_blank" href="{{att.link}}">{{att.link}}</a></p>
                                    <p style="margin-bottom: 0px;" ng-show="att.type == 'image_link'"><a target="_blank" href="{{att.link}}"><img style="width:300px; height: auto;" src="{{att.link}}" /></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- text input box -->
                <div class="row" style="position:absolute; bottom:0; width:100%; background-color:#999;">
                    <div class="col-xs-12">
                        <input type="text" placeholder="Type a message..." class="form-control" style="margin:12px 0 12px 0; padding:20px;" ng-model="message_input" ng-keypress="sendMessage($event)"/>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">Settings</h3>
                </div>
                <div class="modal-body">
                    <h4>Global Notification Settings</h4>
                    <div class="control-group">
                        <label>Show alerts for messages that contain these words (comma separated)</label>
                        <textarea class="form-control" ng-model="settings_alert_keywords"></textarea>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="settings_mentions"> <strong>Display notifications for mentions (messages with my username)</strong>
                        </label>
                    </div>
                    <button class="btn btn-primary" ng-click="requestNotifcationPermissions">Permit Notifications API</button>
                    <hr />
                    <h4>Channel-specific notification settings</h4>
                    <p>Show notifications for all messages in:</p>
                    <div class="checkbox" ng-repeat="channel in channels">
                        <label>
                            <input type="checkbox" ng-model="channel.show_notifications"><strong>#{{channel.name}}</strong>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveSettings()" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Admin Modal -->
    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Admin Settings</h4>
                </div>
                <div class="modal-body">
                    <h4>New User</h4>
                    <div class="control-group">
                        <label>New Username</label>
                        <input type="text" ng-model="new_user_username" class="form-control"/>
                    </div>
                    <div class="control-group">
                        <label>New Password</label>
                        <input type="text" ng-model="new_user_password" class="form-control"/>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="new_user_admin"> <strong>Is admin?</strong>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createUser()" data-dismiss="modal">Add User</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Channel Settings Modal -->
    <div class="modal fade" id="channelSettingsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">#{{channel_settings_name}}  ::  Global Channel Settings (admin)</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="user.settings.is_admin">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="channel_settings_allow_images"> <strong>Allow image link previews</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveChannelSettings()" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(window).on('resize', resizeChatWindow);

        function resizeChatWindow(){
            $('#message-pane').css('height', window.innerHeight - 165);
        }

        resizeChatWindow();
    </script>
</body>
</html>